header {
    margin: auto;
    img {
        width: 100px;
        display: block;
        margin: auto;
        background-color: $light;
        border-radius: 50%;
        box-shadow: 2px 2px 10px $secondary;
    }
    h1 {
        font-size: 2rem;
        text-align: center;
        padding: 14px;
        font-weight: 800;
        font-family: "Anta", sans-serif;
    }
}